In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.1.1

In [3]:
df = pd.read_csv('taxi_zone_lookup.csv',nrows=100)
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [4]:
# help pandas to put this into postgres 
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [8]:
engine.connect()

In [9]:
print(pd.io.sql.get_schema(df,name='taxi_zone',con=engine))

CREATE TABLE taxi_zone (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [10]:
df_iter = pd.read_csv('taxi_zone_lookup.csv',iterator=True,chunksize=100000)

In [11]:
df = next(df_iter)
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
%time df.head(n=0).to_sql(name='taxi_zone', con=engine, if_exists='replace')

CPU times: user 13.6 ms, sys: 5.25 ms, total: 18.8 ms
Wall time: 300 ms

0

In [14]:
df.to_sql(name='taxi_zone', con=engine, if_exists='append')

265

In [13]:
from time import time

In [15]:
while True: 
    t_start = time() 

    df = next(df_iter)

    df.to_sql(name='taxi_zone', con=engine, if_exists='append')

    t_end = time() 

    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

StopIteration: