In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

2.1.1

In [20]:
# # Read the Parquet file
# parquet_file = 'yellow_tripdata_2021-01.parquet'
# df = pd.read_parquet(parquet_file)

# # Write to CSV
# csv_file = 'yellow_tripdata_2021-01.csv'
# df.to_csv(csv_file, index=False)

In [3]:
# # .gz to csv 
# import gzip
# import shutil

# # Specify the input and output file paths
# input_file = 'green_tripdata_2019-10.csv.gz'
# output_file = 'green_tripdata_2019-10.csv'

# # Decompress the .gz file
# with gzip.open(input_file, 'rb') as f_in:
#     with open(output_file, 'wb') as f_out:
#         shutil.copyfileobj(f_in, f_out)

# print(f"File {input_file} has been decompressed to {output_file}")

File green_tripdata_2019-10.csv.gz has been decompressed to green_tripdata_2019-10.csv

# ingest trip data

In [9]:
df = pd.read_csv('green_tripdata_2019-10.csv',nrow=100)
df.head()

/var/folders/ws/d095dcyd45q725d2bmjssqsm0000gn/T/ipykernel_2403/2320873888.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476386 entries, 0 to 476385
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               387007 non-null  float64
 1   lpep_pickup_datetime   476386 non-null  object
 2   lpep_dropoff_datetime  476386 non-null  object
 3   store_and_fwd_flag     387007 non-null  object
 4   RatecodeID             387007 non-null  float64
 5   PULocationID           476386 non-null  int64
 6   DOLocationID           476386 non-null  int64
 7   passenger_count        387007 non-null  float64
 8   trip_distance          476386 non-null  float64
 9   fare_amount            476386 non-null  float64
 10  extra                  476386 non-null  float64
 11  mta_tax                476386 non-null  float64
 12  tip_amount             476386 non-null  float64
 13  tolls_amount           476386 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  476386 non-null  float64
 16  total_amount           476386 non-null  float64
 17  payment_type           387007 non-null  float64
 18  trip_type              387005 non-null  float64
 19  congestion_surcharge   387007 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 72.7+ MB

In [4]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [5]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [6]:
# help pandas to put this into postgres 
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5005/ny_test')

In [8]:
engine.connect()

In [9]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [18]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [19]:
df = next(df_iter)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
1000000,1,2021-01-25 17:04:55,2021-01-25 17:14:08,1.0,0.90,1.0,N,161,186,1,7.5,3.5,0.5,3.00,0.0,0.3,14.80,2.5,NaN
1000001,2,2021-01-25 17:27:41,2021-01-25 17:34:51,2.0,1.75,1.0,N,162,236,1,7.5,1.0,0.5,2.36,0.0,0.3,14.16,2.5,NaN
1000002,2,2021-01-25 17:48:51,2021-01-25 18:01:25,2.0,1.92,1.0,N,140,43,1,10.0,1.0,0.5,2.86,0.0,0.3,17.16,2.5,NaN
1000003,2,2021-01-25 17:06:14,2021-01-25 17:11:49,1.0,1.03,1.0,N,140,141,1,6.0,1.0,0.5,2.06,0.0,0.3,12.36,2.5,NaN
1000004,2,2021-01-25 17:32:27,2021-01-25 17:41:15,1.0,1.64,1.0,N,162,141,1,8.0,1.0,0.5,2.46,0.0,0.3,14.76,2.5,NaN

In [12]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [17]:
%time df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

CPU times: user 82.3 ms, sys: 26.2 ms, total: 108 ms
Wall time: 1.05 s

0

In [15]:
from time import time

In [22]:
while True: 
    t_start = time() 

    df = next(df_iter)

    df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
    df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time() 

    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 27.909 second
inserted another chunk..., took 32.569 second
inserted another chunk..., took 46.933 second
inserted another chunk..., took 37.642 second
inserted another chunk..., took 44.136 second
inserted another chunk..., took 63.581 second
inserted another chunk..., took 37.648 second

/var/folders/ws/d095dcyd45q725d2bmjssqsm0000gn/T/ipykernel_81279/1979779766.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

inserted another chunk..., took 67.169 second
inserted another chunk..., took 58.432 second
inserted another chunk..., took 34.723 second
inserted another chunk..., took 45.313 second
inserted another chunk..., took 31.595 second

/var/folders/ws/d095dcyd45q725d2bmjssqsm0000gn/T/ipykernel_81279/1979779766.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 40.868 second
inserted another chunk..., took 18.470 second

StopIteration: